body {
	background: url(../images/bg.png) no-repeat;
	background-size: cover;
	font-family: Verdana, Arial, "Times New Roman";
	font-size: 11pt;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

#container {
	margin: 0 auto;
	width: 717px;
}


#topmenu {
	margin: 20px 0 10px;
}

#topmenu a {
	color: #2e2e2e;
	font-family: Arial;
	font-weight: bold;
	margin: 0 10px;
	padding: 10px 5px;
	text-decoration: none;
}